/*
Theme Name: VW Fitness
Theme URI: https://www.vwthemes.com/free/wp-gym-fitness-wordpress-theme/
Author: VW Themes
Author URI: https://www.vwthemes.com/
Description: VW Fitness is a Free Responsive Multipurpose WordPress Theme for personal trainer, fitness trainers, yoga trainers, weight loss enthusiasts, gyms, fitness studios, weights, boxing, sports, aerobics, workout, lifestyle, wellness, spa, beautiplus, physiotherapy, health club, cardio consultancy, portfolio and other local businesses. It has lots of features that help in making user-friendly, highly interactive and stunning websites. Some of it’s features include a banner section, testimonial section, Appointment form section, Call to Action Button (CTA), and social media. The theme is built on Bootstrap and it allows you to create a strong website with the provided personalization options. It has a secure and clean code and is optimized for faster page load time. Powerful shortcodes expands what you can do with your pages and posts. Furthermore, it is SEO friendly with optimized codes making your site rank high on Google and other search engines. It instantly gives a professional look to your online existence. Display breathtaking images of your team and the muscular achievers to inspire others. Start creating ideal website with this beautiful Fitness WordPress Theme right now. Check demo: https://www.vwthemes.net/vw-fitness-theme/
Version: 2.5.5.3
License: GNU General Public License
License URI: license.txt
Text Domain: vw-fitness
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, front-page-post-form, theme-options, threaded-comments, translation-ready, rtl-language-support, blog, food-and-drink, e-commerce, portfolio

VW Fitness WordPress Theme has been created by VW Themes(vwthemes.com), 2017.
VW Fitness WordPress Theme is released under the terms of GNU GPL
*/

/* Basic Style */
*{ 
  margin:0;
  padding:0;
  outline:none;
}
  
body{ 
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#f1f1f1;
  font:12px/22px arial;
  font-family:Open sans;
}
img{ 
  margin:0;
  padding:0;
  border:none;
  max-width:100%;
  height:auto;
}
  
section img{
  max-width:100%;
}
  
h1,h2,h3,h4,h5,h6{ 
  margin:0;
  padding:10px 0;
}
  
p{ 
  margin:0 0 15px;
  padding:0;
  font-size:15px;
  line-height:normal;
  font-weight:normal;
}
  
a{ 
  text-decoration:none;
  color:#00A885;
}
  
a:hover{ 
  text-decoration:none;
  color:#666;
}
  
a:focus,a:hover{
  text-decoration:none !important;
}
  
ul,
ol{ 
  margin:0 0 0 15px;
  padding:0;
}

ul li,
ol li{ 
  margin:0 0 0 15px;
  padding:0;
  text-align:left;
}
  
table,
th,
td {
  border: 1px solid #d1d1d1;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}

td {
  border-width: 0 1px 1px 0;
}

th,
td {
  padding: 0.1% 0.438em;
}

:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
section h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
  font-family: Oxygen;
  font-size: 35px;
}
section {
  font-family: Open sans;
}
.clear{ 
  clear:both;
}
select{
  width:100%;
}
input[type='submit']:hover{
  cursor: pointer;
}
  
.center{ 
  text-align:center;
  margin-bottom:40px;
}
  
.middle-align{ 
  margin:0 auto;
  padding:20px 0 20px;
}
.middle-align h1{
  font-size: 30px;
}
  
.wp-caption{ 
  margin:0;
  padding:0;
  font-size:13px;
  max-width:100%;
}
  
.wp-caption-text{ 
  margin:0;
  padding:0;
}
  
.screen-reader-text {
  position: absolute;
  top:-9999em;
  left:-9999em;
}
  
.sticky{ 
  margin:0;
  padding:0;
  background-color:#d7d7d7;
}
  
.gallery-caption{ 
  margin:0;
  padding:0;
}
  
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right:20px;
  margin-top:4px;
  margin-bottom:10px;
  padding:0;
  border:1px solid #bbb;
  padding:5px;
}
  
.alignright, img.alignright { 
  display: inline;
  float: right;
  border:1px solid #bbb;
  padding:5px;
  margin-bottom:10px;
  margin-left:25px;
}
  
.aligncenter, img.aligncenter { 
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
}
  
.comment-list .comment-content ul { 
  list-style:none;
  margin-left:15px;
}
  
.comment-list .comment-content ul li{
  margin:5px;
}

.posted-on,
.byline
{
  padding:0 1%;
}
#respond{
  clear:both;
}
  
.toggleMenu{
  display:none;
}
  
.bypostauthor{ 
  margin:0;
  padding:0;
}
article{
	background: #FFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  
small{
  font-size:14px !important;
}
  

a.small-button{
  background:#3890cb;
  padding:5px 30px;
  border-radius:3px;
  color:#fff;
  display:table;
  margin:0 auto;
}
  
a.small-button:hover{
  color:#fff;
  background:#0c5f96;
}
  

input[type="text"],
input[type="email"],
input[type="phno"],
textarea{
  border:1px solid #bcbcbc;
  font-size:16px;
  padding:5px 5px;
  height:auto;
}
textarea{
  height:111px;
}
  

input[type="submit"] {
  border: 2px solid #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 7px 30px;
  background: #18304c;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  display: table;
}
  
input[type="submit"]:hover{
  background:#3890cb;
}
  

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4d6dc1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #fff;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* ---------Buttons--------- */
a.button-all{
  border:2px solid #000;
  color:#000;
  padding:8px 50px;
  margin:20px 0 0 0;
  font-weight:bold;
}
  

a.button{ 
  border: 2px solid #3890cb ;
  background:#3890cb;
  color: #fff;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight:bold;
}
  
  
/* ---------HEADER--------- */
h1.page-title,
h1.entry-title {
    background: #d3da36;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3%;
}
#header.fixed{
  position:fixed !important;
  top:0 !important;
  margin:0;
  padding:15px 0;
  z-index:99999999;
  background-color:#ffffff;
  opacity:inherit;
}
  
#header .logo{
  margin:0;
  padding: 18px 0;
}
  
#header .logo h1{ 
  font-weight:700;
  text-transform:uppercase;
  padding:0;
  margin-bottom:8px;
  font-size:30px;
  font-weight:bold;
  margin-top: 0;
}
  
#header .logo a{ 
  color:#eae8e8;
  font-family:'Roboto';
  font-size: 30px;
  font-weight: bold;
}
  
#header .logo p{ 
  font-size:12px;
  color: #eae8e8;
}
  
#header{ 
  z-index:999;
  width:100%;
  height:auto;
  background-color: #1C3248;
}  

#header .header-top{
  background:#000;
  color:#aaaaaa;
}

#header .header-top a{
  color:#aaaaaa;
}

#header .top-contact{
  padding:12px 0;
  font-size:15px;
}
  
#header .top-contact .call{
  padding:1px 0 1px 30px;
  margin-right:15px;
}
#header .top-contact .email{
  padding:0 0 0 30px;
}

#header .social-media{
  padding:12px 0;
  text-align:center;
}

.social-media .dashicons{
  margin: 0 6px;
  padding: 0;
}
  
#header .social-media a:hover{
  color:#3890cb;
}

.buttonbox a{
  background:#3890cb;
  color:#fff;
  padding:8px 15px;
  display:block;
  margin:27px 0 0 0;
  border-radius:5px;
  text-align:center;
}
  
.buttonbox a:hover{
  background:#000;
  color:#fff;
}
  

#header .nav{ 
  margin:5px 0 0 0;
  padding:0;
  text-align:left;
  float:right;
}
.nav input[type="search"]{
  margin:10px 0;
  padding:5px;
}
  
#header .nav ul { 
  float:right;
  margin:0;
  padding:0;
  font-family:'Roboto';
  font-weight:400;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold;
}
  
#header .nav ul li{ 
  display:inline-block;
  margin:0;
  position:relative;
}
  
#header .nav ul li a{ 
  color:#99a4b0;
  padding:10px;
  display:block;
}
  
#header .nav ul li a:hover{
  color:#fff;
}
  
#header .nav ul li a:active{
  color:#3890cb;
}
  
#header .nav ul ul {
  margin:5% 0 0 0;
}
  
.socialmedia{
  float:right;
}

@media screen and (max-width:720px) {
  .admin-bar .toggle {
    padding:0;
}
  
  .toggle{
    display:block;
}
  
.toggle a{
  width:100%;
  color:#fff;
  background:url('images/mobile_nav_right.png') no-repeat right center #0a4668;
  padding:10px 10px;
  font-size:16px;
}
  
.toggle a:hover{ 
  color:#fff;
}
.toggle a.active{
  color:#fff;
}
  
.nav{
  display:none;
}
  
#header .nav{
  float:none;
  margin:0;
  position:absolute;
  z-index:1;
  overflow-x:hidden;
  top:40px;
  width:100%;
}
.logged-in #header .nav{top:85px;right:0;}
#header .nav ul{ 
  width:100%;
  float:none !important;
  margin-top:0;
  background-color:#222222;
}
  
#header .nav ul li{
  border-top:1px #303030 solid;
  display:block;
  float:none;
  text-align:left;
}
  
.nav ul li a{
  padding:5px 10px;
  display:block;
  color:#ffffff !important;
}
  
.nav ul li a:hover{
  color:#ff8a00;
}
  
.nav ul li ul, .nav ul li ul ul{ 
  display:block !important;
}
  
.nav ul li ul li a:before{
  content:"\00BB \00a0";
}
  
.nav ul li ul li a{
  padding-left:20px !important;
}
  
.nav ul li ul li ul li a{
  padding-left:30px !important;
}
  
}

@media screen and (min-width:720px){
  #header .nav ul li ul{ 
    display:none;
    z-index:2;
  font-weight:normal;
  }
    
  #header .nav ul li:hover > ul{ 
    display:block;
    background:#222222;
    width:200px;
    position:absolute;
    top:25px;
    left:0;
    text-align:left;
    padding:10px 0;
    z-index:99;
    
  }
  #header .nav ul li:hover > ul li{ 
    display:block;
  }
    
  #header .nav ul li:hover > ul li a{ 
    padding:7px 0px 7px 10px;
    color:#ffffff;
  }
    
  #header .nav ul li:hover ul li ul{
    display:none;
  }
    
  #header .nav ul li:hover ul li:hover > ul{
    display:block;
    position:absolute;
    left:200px;
    top:-20px;
  }
    
  #header .nav ul.sub-menu{
    margin-top:10px;
  }
    

  #header .nav ul.sub-menu li a:hover{
      background:#3890cb;
      color:#fff;
  }
    
  #header .nav ul {
    margin:15px 0 0 0;
  }
  #header .nav ul li a{ 
    color:#fff;
    padding:7px 15px;
    display:block;
  }
  
}

@media screen and (min-width: 1000px) {
  #header #header-inner .nav ul li ul li{
    display:block;
    position:relative;
    float:none;
  }
  
  #header #header-inner .nav ul li ul li a{
    color:#000;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px #313131 solid;
  }
  
}

/*home page*/
.service-main-box p {
    font-size: 15px;
    font-family: Roboto;
    padding: 0px 7px;
    margin: 25px 0;
}
.service-main-box h4 {
 text-transform: uppercase; 
 color: #fff; 
 letter-spacing: 2px; 
 font-family: Roboto; 
}
.service-main-box {
  background: #18304c;
  color: #fff;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 5px;
}
.service-main-box img {
  width: 50%;
}

/* Headings */
section h2{
  margin:15px 0 15px 0;
  padding:0;
}
  
section h3{
  margin:30px 0 0 0;
}
  
section h4{
  color:#000;
  font-weight:bold;
  font-size:20px;
}
  
section h5{
  color:#3890cb;
  font-weight:bold;
  font-size:24px;
  margin:0 0 10px 0;
  padding:0;
}

.service-main-box {
    margin-top: 10%;
}
.new-line,.box-content p{
  margin-bottom: 0;
}
  
.box-content h3{
  color:#000;
  font-weight: bold;
}
  
.text-center{
  text-align: center!important;
}
  
a.r_button {
  background: #3790ca;
  padding: 0.5em 2em;
  color: #fff;
}  

section{
  font-family:Open sans;
}
  
section .innerlightbox{
  background-size:100% 100%;
  padding:1.5em 0;
  color:#000;
}

/* Newsletter Section */
#newsletter-box input[type="text"]{
  margin:0;
}
#newsletter-box input[type="submit"] {
  margin:0;
  background:#4c66ba;
  border:2px solid #fff;
  border-radius:3px;
  color:#fff;
}
  
#newsletter-box input[type="submit"]:hover{
  background:#3791cc;
}

/* Contact Section */
#contact-box{
  background:#f4f5f9;
}
  
.contact-innerbox{
  background:#fff;
  padding:30px;
  box-shadow:5px 5px #eee;
  margin:0 0 20px 0;
}
  
#contact-box .contact-form-box label{
  width:100%;
}
  
#contact-box .contact-form-box p{
  font-size:14px;
  font-weight:bold;
  color:#000;
}
  

#contact-box .address-box p{
  margin:0 0 50px;
  color:#999999;
}
  
#contact-box .social-icons{
  margin-top:15px;
}
#contact-box .social-icons a{
  color:#000;
  padding:5px 10px;
}
  
#contact-box .social-icons a:hover{
  background:#3890cb;
  color:#fff;
}
  

#contact-box .mapbox{
  box-shadow:5px 5px #eee;
}
  

#contact-box .contact-form-box input[type="text"],
#contact-box .contact-form-box input[type="email"],
#contact-box .contact-form-box input[type="phno"],
#contact-box .contact-form-box textarea
{
  border:none;
  border-bottom:1px solid #999999;
  padding:4px 0 5px 0;
  width:100%;color:#000;
  margin:0 0 15px;
  font-size:14px;
}
  
#contact-box .contact-form-box textarea{
  height:50px;
}
  
#contact-box .contact-form-box input[type="submit"]{
  margin-top:20px;
}
  
div.wpcf7-validation-errors {
  border: 2px solid #f7e700;
  clear: both;
}
/* Footer Section */
.rssSummary,
span.rss-date,
cite {
    color: #bbb;
}
.footersec .widget {
    padding-top: 15%;
    padding-bottom: 5%;
}
.tagcloud a {
    color: #fff;
}
.footersec input[type="search"] {
    width: 100%;
}
.footersec input[type="submit"] {
    font-size: 10px;
    padding: 13px 8px;
    font-weight: bold;
    color: #fff;
    margin: 2px 0 0 0;
    width: 25%;
    float: right;
}
.footersec td#prev a {
    color: #fff;
}
.footersec caption {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.footersec table,.footersec th,.footersec td {
    border: 1px solid #d1d1d1;
    text-align: center;
}
.footersec td {
    padding: 10px;
    color: #fff;
}
.footersec th {
    text-align: center;
    padding: 10px;
    color: #fff;
}
.footersec select {
    padding: 8px 5px;
}
.footersec h3 {
    color: #bcfe63;
    font-weight: 600;
    border-bottom: 3px double;
    font-size: 25px;
    margin-top: 0;
}
.footersec li a {
  color: #fff;
  font-size: 15px;
}
.footersec ul li {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}
.footersec ul {
  margin: 0;
}
.footersec {
    background: #18304c;
    font-family: Roboto;
}
#footer{
  background:#18304c;
  text-align:center;
  color:#fff;
  padding:40px 0 30px;
  text-align:left;
}
  
#footer h3{
  text-align:left;
  text-transform:uppercase;
  font-size:24px;
  margin:0 0 24px 0;
  border-bottom:1px solid #26c9ff;
  padding:0 0 17px 0;
}
  
#footer p{
  font-size:14px;
}

.text_2 ul{
  list-style: none;
}
  
.text_2 ul a,#footer ul li.current_page_item a {
  color:#fff !important;
}
  
#footer .news-form{
  margin-top:24px;
}
  

#footer input[type="text"]{
  width:60%;
  padding:8px 5%;
  float:left;
  margin-right:2%;
  border-radius:5px;
}
  
#footer input[type="submit"]{
  width:30%;
  padding:8px 5%;
  float:left;
  border:none;
  background:#18304c !important;
  border-radius:5px;
  margin:0;
}
.copyright {
    color: #fff;
}
#footer .copyright{
  text-align:center;
  border-top:1px solid #337ab7;
  margin:30px 0 0 0;
  padding-top:40px;
}
  
.copyright a:hover {
    color: #99a4b0;
}
/* Woocommerce CSS */
.woocommerce h1 {
    background: transparent;
    text-align: left;
    margin-bottom: 8%;
}
li.woocommerce-MyAccount-navigation-link {
    padding: 0 !important;
    margin: 0 !important;
}
#content {
  padding-top: 4%;
}
#content .container {
  width: 100%;
}
li.product {
  border: 1px solid #1c3248;
  padding: 10px !important;
  margin: 18px 0;
  box-shadow: 4px 4px 10px rgba(211, 218, 54, 0.37);
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
  width: 30%;
  margin: 1% 1.5%;
}
h2.woocommerce-loop-product__title {
  text-align: center;
  font-size: 22px !important;
  font-weight: bold;
  color: #1c3248;
  font-family: 'Overpass';
  padding-bottom: 0 !important;
}
span.price {
  text-align: center;
  color: #000 !important;
  font-family: 'Overpass';
  margin-top: 3%;
}
span.woocommerce-Price-amount.amount {
  font-size: 17px;
  font-weight: bold;
  color: #333;
}
.woocommerce a.button {
  padding: 12px !important;
  color: #fff !important;
  display: block !important;
  text-align: center;
  background: #1c3248;
}
.woocommerce select.orderby {
  padding: 10px;
  border: solid 2px #1C3248;
  background: #fff;
  color: #1C3248;
  letter-spacing: 1px;
  font-family: 'Overpass';
}
p.woocommerce-result-count {
  font-size: 17px;
  color: #1C3248;
  letter-spacing: 1px;
  font-family: 'Overpass';
}
h1.woocommerce-products-header__title {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Overpass';
  color: #1C3248;
}
.woocommerce div.product .product_title {
  color: #1C3248;
  font-weight: bold;
}
.woocommerce div.product p.price {
  color: #000;
  font-weight: bold;
}
.woocommerce .quantity .qty {
  width: 30%;
  text-align: center;
  padding: 5px;
  border: solid 2px #bbb;
  color: #000;
}
.woocommerce div.product form.cart div.quantity {
  float: none;
  margin-bottom: 4%;
}
.woocommerce button.button.alt,
.woocommerce a.button.alt,
.woocommerce input.button.alt {
  background: #1C3248;
  padding: 12px 30px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff !important;
}
.woocommerce button.button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #bbb;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 23%;
  margin: 1%;
}
.woocommerce-product-details__short-description p {
  font-size: 15px;
  color: #000;
  font-family: 'Overpass';
}
.woocommerce span.onsale {
  background-color: #000;
  font-size: 15px;
  font-family: 'Overpass';
  padding: 0;
}
.woocommerce .star-rating {
  margin: 10px auto !important;
  font-size: 15px;
  width: 50% !important;
  font-family: star;
}
.woocommerce ul.products li.product .star-rating{
  font-size: 15px;
}
.woocommerce .star-rating span::before{
  color: #ffd400;
}
.woocommerce #sidebar{
  margin-top: 4%;
}
/* Woocommerce CSS End*/

/* --------- Blog Page ------- */

#full-width-blog .postbox{
  height:355px;
}
  
#blog-right-sidebar .postbox img,#blog-left-sidebar .postbox img{
  height:250px;
}
  
#blog-left-sidebar .postbox img:hover{
  border:1px solid #d3da36;
}
.postbox {
  margin-bottom:39px;
  border-bottom:2px dotted #7e7e7e;
  padding:0 0 26px;
}
  
.postbox h2{
  margin:0 0 5px;
  font-weight:bold;
}
  
.postbox  a.blogbutton {
  background:none;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  color:#fff;
  padding:6px 25px;
  border:1px solid #000;
  color:#000;
  font-size:18px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}
  
.blogbutton-small{
  background:none;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  color:#fff;
  padding:6px 25px;
  border:1px solid #000;
  color:#000;
  font-size:14px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}
  
.metabox{
  color:#000;
  padding:15px 0;
  clear:both;
}

.metabox .entry-date{
  background:url('images/date.png') no-repeat;
  padding: 0 0 0 20px;
  margin:0 13px 0 0;
}

.metabox .entry-author{
  background:url('images/author.png') no-repeat;
  padding: 0 0 0 20px;
  margin:0 20px 0 0;
}
.metabox .entry-comments{
  background:url('images/comments.png') no-repeat;
  padding: 0 0 0 20px;
}
  
#content-vw  h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0;
  font-weight:bold;
  line-height:normal;
}
  
.page-header{
  border-bottom: none!important;
}
  
.feature-image-box img{
  width:100%!important;
}
  


/* --------- Inner Pages --------- */
.page-trainer-box {
  padding:0 10px;
  color:#fff;
  margin-bottom:25px;
}
.page-trainer-box .trainer-name{
  background:#18304c;
  color:#fff;
  display:table;
  padding:13px 20px;
  text-transform:uppercase;
  font-size:14px;
  font-weight:bold;
  margin:45px 0 0 0;
}
.page-trainer-box .trainer-designation{
  background:#fff;
  display:table;
  padding:10px 25px;
  color:#161b21;
  font-weight:bold;
  font-size:13px;
  box-shadow:2px 2px 2px #bbb;
}
  
.page-trainer-box p{
  font-size:15px;
  line-height:normal;
  color:#000;
}
.page-trainer-box .image-box img{
  width:100%;
}

/* --------- POST --------- */
section#blog{
  padding-top:0;
  margin-top:0;
}
  
.blog-post h5{
  text-transform:uppercase;
  color: #000;
}
  

.feature-image-box{
  width:100%;
}
  
.feature-image-box img{
  height:230px;
}
  

.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1;
  color:#000;
  padding:5px 15px;
  margin-right:5px;
}
  
.bradcrumbs a:hover{
  background:#ffd34e;
}
  
.bradcrumbs span{
  background:#dddddd;
  color:#000;
  padding:5px 15px;
}
  

/* Comments BOX */
#comments{
  margin-top:40px;
}
  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}
  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}

#comments input[type="submit"].submit{
  background:#18304c !important;
  padding:10px 50px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:20px;
  margin-left:0px;
}
  

#comments a.comment-reply-link{
  color:#000;
  background:#cecece;
  padding:5px 15px;
}
  
#comments a.comment-reply-link:hover{
  background:#3890cb;
}
  
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
  

#content-vw #comments ol li{
  width:100%;
  background:none;list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#eee;
  display:inline-block;
}
  
#content-vw #comments ul{
  margin:0 0 0 40px;
}

#comments .reply{
  float:right;
}
#comments .comment-author{
  width:100%;
}
  
#comments .comment-metadata{
  width:90%;
  float:left;
  padding:1% 0 0 0;
}
  
#comments .comment-content{
  width:90%;
  float:left;
  margin-left:7%;
}
  
#comments p {
  width:90%;
  float:left;
}
  

/* --------- SLIDER--------- */
#slider{ 
  max-width:100%;
  margin:auto;
  padding:0;
  position:relative;
}
  
.nivo-caption {
  top:20%!important;
}
  
#slider .slide-cap{ 
  position:relative;
  margin:auto;
  width:90%;
  margin-right:auto;
  margin-left:auto;
  top:25%;
}
  
#slider .slide-cap h4{
  text-transform:uppercase;
  font-size:25px;width:30%;
  margin:0 auto;
  background:url('images/welcome.png') center no-repeat;
  background-position: center;
  padding:5px 0;
  font-weight:bold;
}
  
#slider .slide-cap h2{
  padding:0 25px 5% 0;
  font:700 80px 'Roboto';
  text-transform:uppercase;
  left:50%;
}
  
#slider .slide-cap p{ 
  color:#ffffff;
  font-weight:700;
  margin:0 0 0 0;
  line-height:20px;
  border-radius:0 0 5px 5px;
  font:25px/20px arial;
  text-transform:uppercase;
  font-weight:bold;
}
  
#slider .slide-cap a.read-more{
  border-radius:3px;
  padding:9px 50px;
  border:2px solid #dadada;
  color:#ffffff;
  background:#3890cb;
  font-size:18px;
  height:auto;
  display:table;
  margin:0 auto;
}
  
a.blog-more{ 
  display:inline-block;
  font:400 16px 'Roboto Condensed', sans-serif;
  padding:10px 30px;
  margin-top:21px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -ms-border-radius:4px;
  margin-right:15px;
}

/* Sidebar */

#sidebar table#wp-calendar {
    width: 100%;
}
#sidebar td#prev a {
    color: #1C3248;
}
#sidebar caption {
    font-weight: bold;
    color: #1C3248;
    font-size: 20px;
    text-align: center;
}
#sidebar table,#sidebar th,#sidebar td {
    border: 1px solid #1C3248;
    text-align: center;
}
#sidebar td {
    padding: 0px;
    color: #1C3248;
}
#sidebar th {
    text-align: center;
    padding: 10px;
    color: #1C3248;
}
#sidebar select {
    padding: 10px 5px;
    color: #333;
}
#sidebar{
  font-family:Helvetica;
}
#sidebar form{
  display: table;
  width: 100%;
}
#sidebar h3{
    margin: 0 0 25px;
    padding: 9px 15px;
    font-size: 20px;
    font-family: Roboto;
    background: #1C3248;
    color: #fff;
}
#sidebar input[type="search"] {
  background:none;
  padding:9px 10px;
  border:none;
  font-size:15px;
  color:#000;width:97%;
}
#sidebar label{
  width:70%;
  float:left;
  margin-bottom:0;
}
#sidebar input[type="submit"]{
  background:#1C3248;
  border:none;
  color:#fff;
  padding:10px 0;width:30%;font-size:14px;
  float:left;
  margin:0;
  border-radius: 0;
}

#sidebar aside {
    padding-bottom: 0;
    border: 3px solid #1C3248;
    margin-bottom: 30px;
    background: rgba(28, 50, 72, 0.26);
}
#sidebar ul {
  list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 16px;
}
#sidebar ul li{
  background:url('images/bullets-sidebar.png') no-repeat scroll 0 7px;
  margin:0 0 15px;
  padding:0 0 0 23px;
}
#sidebar ul li a{
  color:#000;
}
#sidebar .tagcloud a{
  background:#eeeeee;
  color:#000;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#sidebar .tagcloud a:hover{
  background:#1C3248;
  color: #fff;
}


/**
 * 5.0 - Forms
 */
  
.search-field { 
  padding: 6%;
}
  
/* Page */
#content-vw {
  font-family:Helvetica;
}
  
#content-vw p{
  text-align:justify;
  line-height: 25px;
  font-size: 16px;
 margin: 0px 15px 15px 0px;
}
  
#content-vw hr{
  border:none;
  border-bottom:2px dotted #7e7e7e;
  margin:35px 0;
  clear:both;
}
#content-vw h2{
  font-size:25px;
  font-weight:normal;
  margin:0;
  padding:0;
  color:#000;
  margin:0 0 25px;
  font-family:Roboto;
}
#content-vw h3 {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  padding: 15px 9px;
  color: #000;
  margin: 0 0 25px;
  font-family: Roboto;
}
#content-vw h4{
  font-size:20px;
  font-weight:bold;
  margin:0;
  padding:0;
  color:#1C3248;
  margin:0 0 25px;
  font-family:Roboto;
}
#content-vw  h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0;
  font-weight:bold;
  line-height:normal;
}
  
#content-vw ul{
  list-style:none;
  margin:0 0 0 10px;
  padding:10px 0 0;
  font-size:16px;
}
  
#content-vw ul li{
  padding:0 0 0 35px;
  margin:0 0 20px 0;
  line-height:25px;
}
  
#content-vw ol li ol li{
  margin:0 0 20px 0;
  padding:0 0 0 35px;
}
  
#content-vw ol{
  list-style: none;
  margin:0 0 0 0px;
  padding:10px 0 0 0;
  font-size:16px;
  counter-reset: myCounter;
}

#content-vw ol li{
  padding:0 0 0 0;
  margin:0 0 20px 0;
}
 
.read-moresec{
  margin:2% 0;
}
  
/* Pagination */
.pagination {
  clear:both;
  position:relative;font-size:14px;
  line-height:13px;
  float:right;
  font-weight:bold;width:100%;
}
 
.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:10px 15px;
    text-decoration:none;
    width:auto;
    color:#fff;
    background: #18304c ;
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
 
.pagination a:hover{
    color:#18304c;
    background: #d3da36;
}
 
.pagination .current{
    padding:10px 15px;
    background: #d3da36;
    color:#18304c;font-weight:normal;
}
#content-vw .pagination ul{  
    margin:0;clear:both;
}
#content-vw .pagination ul li{
    margin:0;
}
  

.post-navigation{
  clear:both;
}
  
.post-navigation {
  clear: both;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.post-navigation .post-title { 
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.25;
}

.post-navigation .current .screen-reader-text { 
  position: absolute !important;
}

.post-navigation .page-numbers { 
  display: inline-block;
}

.post-navigation a { 
  color: #1a1a1a;
  display: block;
  padding: 1.75em 0;
}

.post-navigation span { 
  display: block;
}

.post-navigation .meta-nav { 
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  margin-bottom: 0.5384615385em;
  text-transform: uppercase;
}
  

.post-navigation .post-title { 
  display: inline;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.2173913043;
  text-rendering: optimizeLegibility;
}
  

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title { 
  color: #007acc;
}

.post-navigation:before {
  right: 0;
}

.post-navigation:after {
  right: 54px;
}

.post-navigation a:hover,
.post-navigation a:focus {
  color: #1a1a1a;
}

.post-navigation .nav-links:before,
.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}


/* reset screen-reader-text */
.post-navigation .current .screen-reader-text {
  position: static !important;
}

.post-navigation .page-numbers {
  display: none;
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 0.7368421053em 0 -0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}

.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}

.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}

.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}

.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}

.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.nav-next {
    float: right;
    width: 50%;
}
.nav-previous {
    width: 50%;
    float: left;
}

@media screen and (max-width:991px) 
{
  #slider .slide-cap h2{
    font-size:150%;
  }
  .day-time{ 
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
  
  h3.navigate {
  padding: 1em 0 !important;
}
  
}
@media screen and (min-width: 320px) and (max-width: 420px){
  .top-bar a {
      font-size: 12px !important;
  }
  .admin-bar .toggle {
    padding:0;
  }
  
  .top-left,
  .header .logo,
  .top-right {
    text-align: center;
  }
    
  .menubar {
      display: inline-table;
  }
  
}
@media screen and (min-width: 721px) and (max-width: 768px){
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 47%;
    margin: 1% 1.5%;
}
}
@media screen and (min-width: 421px) and (max-width: 600px){
  
  .top-left {
    text-align: center;
  }
    
  .header .logo{
    text-align: center;
  }
  
  .menubar {
    display: inline-table;
  }
  
}
@media screen and (min-width: 601px) and (max-width: 720px){
  .admin-bar .toggle {
    padding: 0 0 0 0!important;
  }
  
  .top-left,
  .header .logo {
    text-align: center;
  }
  
  
}
@media screen and (max-width:686px){
  #content-vw #comments ul{
    margin: 0!important;
  }
  
  .nav ul li{
    display: inline !important;
  }
  
}

@media screen and (max-width:720px){
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product{
    width: 100%;
    margin: 0 0 6% 0;
  }
  ol.children {
    margin: 0 !important;
  }
  ol.children img {
    width: 30px;
    border: solid 1px;
  }
  #content-vw #comments ol li {
    padding: 10% 0 0 2%;
  }
  .comment-author img {
    border: solid 1px;
  }
  #comments .reply {
    float: left;
  }
  #comments input[type="submit"].submit {
    width: 100%;
  }
  #sidebar {
    clear: both;
  }
  .menubar {
    margin:0;
    z-index: 999;
    position: absolute;
    width: 100%;
    display: inline-table;
    top:44px;
    padding-bottom:5px;
    z-index:999;
  }
  .logged-in .menubar{
    top:87px;
  }

}

/*---- Header---*/
.main-container{
  margin:0;
  padding:0;
}
  
.header.fixed{
  position:fixed !important;
  top:0 !important;
  margin:0;
  padding:15px 0;
  z-index:99999999;
  background-color:#ffffff;
  opacity:inherit;
}
  
.header .logo{
  margin:0;
  padding:0;
}
  
.header .logo h1{ 
  font-weight:700;
  text-transform:uppercase;
  padding:0;
  margin-bottom:8px;
  font-size:30px;
  font-weight:bold;
  margin-top: 0;
}
  
.header .logo a{ 
  color:#222222;
  font-family:'Roboto';
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
  
.header .logo p{ 
  font-size:12px;
  font-family:arimo;
  color:#222222;
}
  
.header{z-index:999;
  width:100%;
  height:auto;
  padding:25px 0%;
  background-color:#ffffff;
}  
.contact-call-Email{
  float:right;
}  
p.calling,p.email { 
  border: 1px solid #e4e4e4;
  border-radius: 18px 18px;
  padding:5px 0px 5px 0px;
  text-align: center;
}
  

/*----menubar----*/
.menubar{
  background: #3ca6d4;
}
  
.nav{ 
  margin:0;
  padding:0;
}
  
.nav ul {
  float: left;
  padding:5px 0;
  font-family:'Roboto';
  font-weight:400;
  font-size:16px;
  margin:0
}
  
.nav ul li{ 
  display:inline-block;
  margin:0;
  position:relative;
}
  
.nav ul li a{ 
  color:#fff;
  padding:10px 10px;
  display:block;
}
  
.nav ul li a:hover{
  color:#000;
}
  
@media screen and (min-width:720px){
 .nav ul li ul{
    display:none;
    z-index:2;
    margin: 10px 0 0;
  }
  
 .nav ul li:hover > ul{
    display:block;
    background: #3ca6d4;
    width:200px;
    position:absolute;
    top:25px;
    left:0;
    text-align:left;
    padding:10px 0;
    z-index:99;
  }
  
  .nav ul li:hover > ul li{ 
    display:block;
  }
  
 .nav ul li:hover > ul li a{ 
    padding:5px 0px 5px 10px;
    color:#ffffff;
  }
  
  .nav ul li:hover ul li ul{
    display:none;
  }
  
 .nav ul li:hover ul li:hover > ul{
    display:block;
    position:absolute;
    left:200px;
    top:-20px;
  }
  
  .logo{
    float:left;
    margin-top:8px;
  }
  
  .search-box input[type=text] {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 13px;
    background-color: white;
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-size: 15px 17px;
  }
  
  .header-widget{ 
    margin:0;
    padding:0;
    clear:right;
    color:#ffffff;
    text-align:right;
  }
  
  .header-widget h4.header-title{ 
    font-size:18px;
    margin:0;
    padding:0;
    color:#ffffff;
  }
  
  .header-widget li{ 
    display:inline;
    border-left:1px solid #f1f1f1;
    padding-left:5px;
  }
}

/*----------copyright css-----------*/
.copyright-wrapper {
  position: relative;
  padding: 30px 0;
  background-color: #18304c;
  border-top: 2px solid #bcfe63;
}
.copyright p{
  text-align:center;
}

.footer-menu{ 
  float:left;
  margin:0;
  padding:0;
  color:#ffffff;
}
.footersec p {
    color: #fff;
}
  
.footer-menu ul li a{ 
  color:#ffffff;
}
.copyright a {
    color: #fff;
}
  
.copyright ul li,
.footer-menu ul li{ 
  display:inline-block;
  margin:0;
  padding:0 10px 0 0;
}
  
.footer-menu ul ul{ 
  display:none;
}
  
.footer-content{
  width:100%;
  background-size: 100% 100%;
  background-color: rgba(0,0,0,0.8);
  text-align:justify;
}
  
 .footer-sec {
  margin-top: 4%;
  color:#eeeeee;
}
  
.footer-content input[type='submit']{
  background-color: #fe6f23;
  padding: 2% 3%;
  border: 0;
  color: #fff;
  margin: 4% 0;
}
  
.footer-content h5{
  border-bottom: 1px solid #bbb;
  display: table;
  font-size: 25px;
  color: #fff;
  margin-bottom: 10%;
}
  
.footer-content p{
  margin: 0 0 20px;
  font-size: 14px;
}
  
.copyright.text-center {
  background-color: #3bb3e5;
  padding: 20px 0px 12px 0;
}

/* post section */
#mainpostbox {
    margin-top: 4%;
}
#mainpostbox small{  
  color:#6d6d6d;
  margin:0 0 20px 0;
}
#mainpostbox .small-button{
  margin-top:30px;
}
#mainpostbox .page-box{
  height: auto;
  margin: 0 0 25px 0;
  transition: 0.3s;
  background: #FFF;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  padding:15px;
}
.page-box p {
    font-size: 15px;
    color: #8c8888;
}
.box-image img {
    width: 100%;
}
#mainpostbox .page-box h4{
  color:#fff;
  padding:0;
}
#mainpostbox .box-image{
  margin-bottom: 2%;
}

#mainpostbox .services-box{
  margin:40px 0 20px 0;
}

/* Calendar widget */
.widget.widget_calendar table {
  margin: 0;
}

.widget_calendar td,
.widget_calendar th {
  line-height: 2.5625;
  padding: 2px;
  text-align: center;
}

.widget_calendar caption {
  font-weight: 900;
  margin-bottom: 1.75em;
}

.widget_calendar tbody a {
  background-color: #007acc;
  color: #fff;
  display: block;
  font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
  background-color: #686868;
  color: #fff;
}